/* splitscreen.css - September 30, 2013 
   Much of the CSS is adaptated from the CSS used in the
   Textile live preview editor found at:
   http://borgar.github.io/textile-js/
*/

html {
    overflow: hidden;
    height: 100%;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;  
    background: #ddd;  
    margin: 0;
    padding: 0;
    height: 100%;
}

#saveposttext {
    color: #f8f8f8;
    font-weight: bold;
}

#container {
}

#tx_input {
    font-family: 'Droid Sans Mono', "Courier New", Courier,  monospace, sans-serif;
    font-size: 1.1em;   
    color: #222;
    line-height: 1.7em;
    display: block;
/*    resize: none; */
    background: #f8f8ff;
}

#narrow_tx_input {
    background: yellow;
    height: 150px;
    margin: 30% 0 0 0;
    border: none;
}

label {
    display: block;
    padding: 4px 0;
    font-weight: bold;
    color: #777;
}

.col {
    margin: 0;
    width: 49%;
    height: 95%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.singlecol {
    margin: 0;
    width: 60%;
    height: 95%; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    left: 19%;
}

.prevsinglecol {
    height: 95%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 999;
}

body > h1 {
    margin : 0;
    padding : 10px 3% 0;
    font-size : 20px;
    color : #444;
}

#col_left {
    float: left;
    position: absolute;
    z-index: 100; 
}

#col_right {
    float: right; 
    right: 1%; 
}

.panel {
    background: #fff;
    border: 1px solid #aaaaaa;
    outline: none;
    display: block;
    margin: 0;
    padding: 4px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 400px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#text_preview {
    overflow: auto;
}

.tools {
    position: absolute;
    top: .2em;
    right: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #dddddd), color-stop(1, #ffffff));
}

::-webkit-scrollbar:horizontal {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dddddd), color-stop(1, #ffffff));
}

::-webkit-scrollbar-corner {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #dddddd), color-stop(0.6, #ffffff));
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    height: 0;
    width: 0;
    display: block;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:horizontal, ::-webkit-scrollbar-thumb:vertical {
    border: 1px solid #bbbbbb;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 6px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #dddddd), color-stop(1, #bbbbbb));
}

::-webkit-scrollbar-thumb:horizontal {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dddddd), color-stop(1, #bbbbbb));
}

#text_preview {
/*
    line-height: 1.7em;
    font-size: 1.2em;  
    color: #222222;
*/
}

#navmenu ul {
    list-style-type: none;
 /*   background: #120a8f; 14jan2014 */   /* ultramarine blue */
    background: #f8f8f8;
    color: #120a8f;
    padding: .4em 0 .5em 0; 
    margin: 0 0 0 0;
    font-size: .9em;
    font-family: Arial, Helvetica, sans-serif;  
}

#navmenu ul li {
    display: inline-block; 
}

#navmenu ul li a {
    text-decoration: none;
    /* color: #f8f8f8; 14jan2014 */
    color: #777777;
    text-align: left;
    padding: 0 .5em;
}

#navmenu ul li a:hover {
    text-decoration: underline;
    /* color: #ffffff; 14jan2014 */
    color: #000000;
}

#navmenu #navmenutext {
    display: none;
}

#content {
    line-height: 1.7em;
    font-size: 1.2em;  
    color: #222222;
}

.bluebutton {
    font-size: 1em;
    color: #f8f8f8;
    background: #120a8f; 
    border: 1px solid #120a8f;
    color: #666;
    background: #f8f8f8;
    border: 1px solid #888;
}

.bluebutton:hover {
    color: #ffffff;
    background: #0000cd;
    color: #000;
    background: #fff;
    border: 1px solid #000;
}


@media screen and (min-width: 320px) {
    .singlecol, .prevsinglecol {
        margin: 0;
        width: 95%;
        left: 2%;
/*        height: 95%; */
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

@media screen and (min-width: 768px) {
    .singlecol, .prevsinglecol {
        margin: 0;
        width: 85%;
        left: 7%;
/*        height: 95%;  */
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

@media screen and (min-width: 1025px) {
    .singlecol, .prevsinglecol {
        margin: 0;
        width: 75%;
        left: 12%;
/*        height: 95%; */
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

@media screen and (min-width: 1224px) {
    .singlecol { 
        margin: 0; 
        width: 65%;  
/*        height: 95%; */
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        left: 17%;
    }

   .prevsinglecol { 
        left: 0%;
        margin: 0 auto;
        padding: 0;
        max-width: 43em;
    }
}


/*
#text_preview strong {
    color: #000000;
}

#text_preview b {
    background: #ffff00;
    font-weight: normal;
}
*/



/* copying css from scaup.css */


img {
    max-width: 100%;
}

textarea {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;  
    font-size: 1em;
    overflow: auto;
    background: #ffffff;
    border: 1px solid #ccc; 
}

blockquote {
    margin-left: .6em;
    padding-left: 1em;
    border-left: .1em solid #666;  
/*    border-left: .1em solid #ddd;  */

/*
    margin: .5em; 
    background: #f5faff;
    padding: 0 .5em 0 .5em;   
    border: 1px solid #cccccc;
*/
}

table {
    font-size: .8em;
    font-family: "Open Sans", Arial, Helvetica, sans-serif; 
    color: #000000;
}

h1, h2, h3, h4, h5 {
    color: #000000;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;  
/*    font-family: 'Libre Baskerville', serif;  */
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 1.6em;
}

h2 {
    font-size: 1.5em; 
}

h3 {
    font-size: 1.4em; 
}

h4 {
    font-size: 1.3em; 
}

h5 {
    font-size: 1.2em; 
}

h2, h3, h4, h5 {
    margin: 50px 0 10px 0;
    padding: 0;
}

hr.shortgrey {
   border: 0; 
   height: 1px; 
   background: #ddd;
   width: 25%;
   margin-top:2em;
   margin-bottom:2em;
}

a {
    text-decoration: none; 
    color: #0000ff;
}

a:visited {
    color: #cc3399;
} 

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline; 
    color: #ff0000;
}

/* ol formatting adapted from: 
   http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/ 
*/
ol {
    counter-reset: li; /* Initiate a counter */
    margin-left: 0; /* Remove the default left margin */
    padding-left: 0; /* Remove the default left padding */
}

ol > li {
    position: relative; /* Create a positioning context */
    margin: 0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding: 4px 8px; /* Add some spacing around the content */
    list-style: none; /* Disable the normal item numbering */
}

ol > li:before {
    content: counter(li) ". "; /* Use the counter as content */
    counter-increment: li; /* Increment the counter by 1 */
    /* Position and style the number */
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    text-align: center;
}

/* 3may2013 I think it's suppose to be ol not ul  li ul {margin-top:6px;} */
li ol {
    margin-top: 6px;
} 

ol ol li:last-child {
    margin-bottom: 0;
}

input {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; 
    border: 1px solid #cccccc;
    padding-left: .4em;
}

.post {
    color: #000000;
    font-size: 1.2em; 
    /* font-size: 125% */
    /* font-size: 120%; approx same as 1.2em */
    line-height: 1.7em;
}

.post ul > li {
    padding: 4px; /* Add some spacing around the content */
}

/* for the h1 title on the article page */
#post-top {
    padding-top: 10px;  
}

.post big em {
    font-family: "Open Sans", Arial, Helvetica, sans-serif; 
}
.post big {
    color: #666;
}

.post strong {
    color: #000000;
}

.post b {
    background: #ffff00;
    font-weight: normal;
}

.post a strong {
    color: #0000ff;
}

.post a:visited strong {
    color: #cc3399;
}

.post a:hover strong {
    text-decoration: underline;
}

.post a:active strong {
    text-decoration: underline; color: #ff0000;
}

.post code {
    font-size:13px;
    background: #f8f8f8;
    padding: 2px 5px 2px 5px;
    border: 1px solid #dddddd;
}

.post pre {
    line-height: 1em; 
    background: #f8f8f8;
}

.post pre code {
    padding:0;
    border:none;
}

/* a. site-wide responsive content display.
   used within a section tag that defines the main viewing of the site, 
   and it's used sitewide as a responsive wrapper to make content scale. */
/*
#content {
    position: relative;
    width:80%;
    max-width: 700px;
    margin: 0px auto 0px;
}
*/

/* b. textarea posting box */
#textareaboxpost {
    width: 90%
    height: 250px;
}

/* c. highlighted text - used with the custom q. q.. commands for quoting other text. */
.highlighted {
    margin-left: .6em;
    padding-left: 1em;
    border-left: .1em solid #666;  
/*
    margin: .5em; 
    background: #f5faff;
    padding: 0 .5em 0 .5em;  
    border: 1px solid #cccccc;
*/
}

/* f. heading text - used for the h1, h2, h3, etc tags */
.headingtext a {
    color: #000000;
    text-decoration: none;
}

.headingtext a:visited {
    color: #000000;
    text-decoration: none;
}

.headingtext a:hover {
    color: #000000;
    text-decoration: underline;
}

.scaup-article {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

/* g. small, grey-colored text links */
.greytext {
    font-size: 80%;
    font-family: "Open Sans", Arial, Helvetica, sans-serif; 
}

.greytext a {
    color: #888888;
}

.greytext a:visited {
    color: #888888;
}

.greytext a:hover {
    color: #000000; 
    text-decoration: underline;
}

.codeClass pre {
    white-space: pre;
}

.fenceClass pre {
    white-space: pre;
}

 /*  http://stackoverflow.com/questions/2295766/how-to-create-a-scrollable-div-tag-vertically-supported-in-chrome */
.codeClass {
    width: 100%;
    overflow-y: scroll;
    max-height:500px; 
    background: #f8f8f8;
    border: 1px solid #dddddd;
    padding: 2px 5px 2px 5px;
    white-space: nowrap;
}

.fenceClass {
    overflow-x: scroll;
    background: #f8f8f8;
    border: 1px solid #dddddd;
    padding: 2px 5px 2px 5px;
}



/* ==========================================================================
   7. Media Queries
   ========================================================================== */

/*
  desktop/laptop > 1224px 
  tablet 768-1024px 
  smartphone 320-480px  
*/

/* 45em = 720 px */
@media only screen and (max-width: 45em) { 
    #content {
        width: 90%;
    }
}

/* 37.5em = 600px */
@media only screen and (max-width: 37.5em) {
    .stream-imageheader {
        height: 240px;
    }

    .post-stream h1 {
        font-size: 1.1em;
    }

    #site-head {
        height: 20%;
    }

    #largeimageheader {
        padding-top: 65%;
        height: auto;
    }

    .post {
        /* font-size: 1.15em; commented out on 2-Oct-2014 */
        /* line-height: 1.4em; commented out on 2-Oct-2014 */
        /* font-size: 125%; */ /* increases the font size when viewed on a small screen */
    }

    #toc {
        display: none;
    }

    /* .homepage-post-author, .homepage-post-date */
    .site-description, .largescreens-article, .largescreens-draft, .homepage-min-read,  .homepage-tagstring, #post-min-read {
        display: none; /* commented out for testing on 19jun2014 */
    }

    .post-stream {
        line-height: 1.2em;
       /* padding: 20px 0 20px 0;  */
    }

    .smallscreens {
        display: inline;
    }

    h1 {
        font-size: 1.40em;
    }

    h2 {
        font-size: 1.30em; 
        /* padding-top: .2em; */
    }

    h3 {
        font-size: 1.20em; 
    }

    h4 {
        font-size: 1.15em; 
    }

    h5 {
        font-size: 1.10em; 
    }

    #microblogtextareabox {
        width: 85%;
    }   

    footer ul li a {
        padding: 0 .3em;
    }

    #blog-title {
        font-size: 1.8em;
    }

}

@media only screen and (max-width: 480px) { 
    .stream-imageheader {
        height: 180px;
    }
}

@media only screen and (min-width: 320px) { 
    #textareaboxpost {
        width: 95%;
        height: 125px;
    }

    .post {
        color: #222222;
    }

    #blog-title, #blog-title a, #blog-title a:visited, #blog-description {
    } 
}

@media only screen and (max-width: 320px) { 
    .stream-imageheader {
        height: 100px;
    }

    #scroll_text {
        width: 100%;
        height: 700px;
        overflow-y: auto; 
        -webkit-overflow-scrolling: touch;
    }
    #blog-title {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 768px) {
    #textareaboxpost {
        width: 90%;
        height: 200px;
    }
}

@media only screen and (min-width: 1025px) {
    #textareaboxpost {
        width: 90%;
        height: 250px;
    }
}

@media only screen and (max-width: 900px) {
    #content {
        padding-top: 10px;
    }
}

/* 76.5em = 1224 px */
@media only screen and (min-width: 76.5em) { 
/* use if font-size = 125% 
    .post {
        color: #333333;
    }
*/
 
    .post p {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}    




/* ==========================================================================
   End scaup.css
   ========================================================================== */



