</section> <!-- closing id=content -->
<br /> 
<footer>
<ul>
<li><a title="About, Help, Contact" href="/info">info</a></li> 
</ul>

<div>
&copy; 2015 <a href="<!-- tmpl_var name="home_page" -->"><strong><!-- tmpl_var name="site_name" --></strong></a>  - <!-- tmpl_var name="site_description" -->
</div>

</footer>

</body>
</html>

