<!-- tmpl_include name="header.tmpl"  -->

<p>
<form action="/dologin" method="post">

<p>
<input type="text" id="email" name="email" maxlength="50"/>
</p>

<p>
<label for="blank"> </label>
<input class="submitbutton" id="submit" type="submit" value="Login" />
</p> 

</form>
</p>

<!-- tmpl_include name="footer.tmpl" -->
