<!-- tmpl_include name="header.tmpl" -->


<!-- tmpl_if errorexists -->
<p>
<h2>Article Input Error</strong></h2>
<!-- tmpl_var name="errormessage" -->
</p>
<!-- /tmpl_if -->



<!-- tmpl_if previewingpost -->
<p>
Previewing post ...
</p>

<article class="post">
<!-- tmpl_var name="html" -->
</article>
<!-- /tmpl_if -->




<form id="scaupform" method="post" action="/createpost">
<input type="hidden" name="post_location" value="text_area"> 

<p>
<textarea id="textareaboxpost" name="markup" rows="15" cols="60"><!-- tmpl_var name="markup" --></textarea>
</p>

<div style="float:right">
<span class="greytext"><a href="/splitscreen"><small>[ | ]</small></a></span>
</div>

<p>
<input class="submitbutton" type="submit" name="sb" value="Preview">
 &nbsp; &nbsp; &nbsp; &nbsp; 
<input class="submitbutton" type="submit" name="sb" value="Post">
</p>

</form>




<!-- tmpl_include name="footer.tmpl" -->
