<!-- tmpl_include name="header.tmpl" -->

<p>
<form action="/search" method="post">
Keyword(s) to search on :
<br />
<input size=30 type=text name="keywords" autofocus>
 <input class="submitbutton" type=submit name=sb value="Search">
</form>
</p>

<!-- tmpl_include name="footer.tmpl" -->
